*filter
:INPUT DROP
:FORWARD ACCEPT
:OUTPUT ACCEPT

# localhost
-A INPUT -i lo -j ACCEPT

# Allows all incoming established
-A INPUT -m state --state ESTABLISHED -j ACCEPT

# icmp
-A INPUT  -p icmp -j ACCEPT
-A OUTPUT -p icmp -j ACCEPT

# ssh
-A INPUT -p tcp --dport 22 -j ACCEPT

# allow everything from current_subnet
-A INPUT -p tcp -s {{ current_network_cidr }} -j ACCEPT

# Consul UI
-A INPUT -p tcp --dport 8500  -j ACCEPT

# Nomad UI
-A INPUT -p tcp --dport 4646  -j ACCEPT

COMMIT
