*filter
:INPUT DROP
:FORWARD ACCEPT
:OUTPUT ACCEPT

# localhost
-A INPUT -i lo -j ACCEPT

# Allows all incoming established
-A INPUT -m state --state ESTABLISHED -j ACCEPT

# icmp
-A INPUT  -p icmp -j ACCEPT
-A OUTPUT -p icmp -j ACCEPT

# ssh
-A INPUT -p tcp --dport 22 -j ACCEPT

# for 3proxy
-A INPUT -p tcp --dport 3128 -j ACCEPT
-A INPUT -p tcp --dport 1080 -j ACCEPT
-A INPUT -p tcp --dport 8080 -j ACCEPT

# allow everything from current_subnet
-A INPUT -p tcp -s {{ current_network_cidr }} -j ACCEPT

# Consul UI
-A INPUT -p tcp --dport 8500  -j ACCEPT

# Nomad UI
-A INPUT -p tcp --dport 4646  -j ACCEPT

# Allow nomad dynacic ports for demo. See https://www.nomadproject.io/docs/job-specification/network.html#dynamic-ports
-A INPUT -p tcp --match multiport --dports 20000:32000 -j ACCEPT

# Allow EPMD port for demo
-A INPUT -p tcp --dport 4369  -j ACCEPT

COMMIT
