log_level = "DEBUG"
data_dir = "{{ nomad_data_dir }}"

advertise {
  http = "{{ ansible_host }}"
  rpc  = "{{ ansible_host }}"
  serf = "{{ ansible_host }}"
}

{% if inventory_hostname is in(groups['servers']) %}
server {
  enabled = true
  bootstrap_expect = "{{ nomad_bootstrap_expect }}"
}
{% else %}
client {
  enabled = true
  network_interface = "{{ nomad_network_interface }}"

  {% if inventory_hostname is in(groups['vagrant'] | default([])) %}
  host_volume "jenkins_home" {
    path      = "/vagrant/jenkins/jenkins_home"
    read_only = false
  {% endif %}
}
{% endif %}
